<dl class="row">
  <a href="admin/products#index"><dt class="col-sm-5">Number of products in store: </dt></a>
  <dd class="col-sm-1"><%= @productCount %></dd>
  <a href="categories/1"><dt class="col-sm-5">Number of categories for products:</dt></a>
  <dd class="col-sm-1"><%= @categoryCount %></dd>
</dl>